<script type="text/javascript">
    try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
</script>

{% set route = app.request.get('_route') %}

{#<div class="sidebar-shortcuts" id="sidebar-shortcuts">#}
                {#<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">#}
                    {#<button class="btn btn-success">#}
                        {#<i class="ace-icon fa fa-signal"></i>#}
                    {#</button>#}
                    {#<button class="btn btn-info">#}
                        {#<i class="ace-icon fa fa-pencil"></i>#}
                    {#</button>#}
                    {#<button class="btn btn-warning">#}
                        {#<i class="ace-icon fa fa-users"></i>#}
                    {#</button>#}
                    {#<button class="btn btn-danger">#}
                        {#<i class="ace-icon fa fa-cogs"></i>#}
                    {#</button>#}
                {#</div>#}

                {#<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">#}
                    {#<span class="btn btn-success"></span>#}
                    {#<span class="btn btn-info"></span>#}
                    {#<span class="btn btn-info"></span>#}
                    {#<span class="btn btn-warning"></span>#}
                    {#<span class="btn btn-danger"></span>#}
                {#</div>#}
            {#</div><!-- /.sidebar-shortcuts -->#}

<ul class="nav nav-list  nav-sidebar">
    <li class="{% if route == 'default_index' %}active{% endif %}">
        <a href="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ path('default_index') }}">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text">Home</span>
        </a>
        <b class="arrow"></b>
    </li>

    <li class="{% if route starts with 'cycle' %}active{% endif %}">
        <a href="{{app.request.scheme ~'://' ~ app.request.httpHost ~ path('cycle') }}">
            <i class="menu-icon fa fa-list-alt"></i>
            <span class="menu-text"> Cycles </span>
        </a>
        <b class="arrow"></b>
    </li>

    <li class="{% if route starts with 'report_' %}active{% endif %}">
        <a href="{{app.request.scheme ~'://' ~ app.request.httpHost ~ path('report_index') }}">
            <i class="menu-icon fa fa-calendar"></i>
            <span class="menu-text">Reports
                {#<span class="badge badge-transparent tooltip-error" title="2 Important Events">#}
                    {#<i class="ace-icon fa fa-exclamation-triangle red bigger-130"></i>#}
                {#</span>#}
            </span>
        </a>
        <b class="arrow"></b>
    </li>

    <li class="{% if route == 'setup' %}active{% endif %}">
        <a href="{{app.request.scheme ~'://' ~ app.request.httpHost ~ path('setup') }}">
            <i class="menu-icon fa fa-picture-o"></i>
            <span class="menu-text"> Setups </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="{% if route starts with 'bkc' %}active{% endif %}">
        <a href="{{app.request.scheme ~'://' ~ app.request.httpHost ~ path('bkc') }}">
            <i class="menu-icon fa fa-list"></i>
            <span class="menu-text"> BKC </span>
        </a>
        <b class="arrow"></b>
    </li>

    <li class="{% if route starts with '_actionnative' %}active{% endif %}">
        <a href="{{app.request.scheme ~'://' ~ app.request.httpHost ~ path('_actionnative') }}">
            <i class="menu-icon fa fa-leaf green"></i>Actions
        </a>

        <b class="arrow"></b>
    </li>
    <li class="{% if route starts with '_usecasenative' %}active{% endif %}">
        <a href="{{app.request.scheme ~'://' ~ app.request.httpHost ~ path('_usecasenative') }}">
            <i class="menu-icon fa fa-pencil"></i>UseCases
        </a>

        <b class="arrow"></b>
    </li>

    <li class="{% if route starts with 'cq_' %}active{% endif %}">
        <a href="{{app.request.scheme ~'://' ~ app.request.httpHost ~ path('cq_index') }}" >
            <i class="menu-icon fa fa-pencil-square-o"></i>
            <span class="menu-text"> CQ </span>
        </a>
        <b class="arrow"></b>
    </li>

    <li class="{% if route starts with 'event_' %}active{% endif %}">
        <a href="{{app.request.scheme ~'://' ~ app.request.httpHost ~ path('event_index') }}" >
            <i class="menu-icon fa fa-tag"></i>
            <span class="menu-text">Events</span>
        </a>
        <b class="arrow"></b>
    </li>
    <li class="{% if route starts with 'eventnative' %}active{% endif %}">
        <a href="{{app.request.scheme ~'://' ~ app.request.httpHost ~ path('eventnative_index') }}" >
            <i class="menu-icon fa fa-tag"></i>
            <span class="menu-text">Event Native</span>
        </a>
        <b class="arrow"></b>
    </li>

    <li class="{% if route starts with 'dut' %}active{% endif %} open">
        <a href="{{app.request.scheme ~'://' ~ app.request.httpHost ~ path('dut') }}" >
            <i class="menu-icon fa fa-file-o"></i>
            <span class="menu-text">DUT<span class="badge badge-primary">5</span></span>
        </a>
        <b class="arrow"></b>
    </li>

    <li class="{% if route starts with 'cycleusecasestats' %}active{% endif %}">
        <a href="{{app.request.scheme ~'://' ~ app.request.httpHost ~ path('cycleusecasestats') }}">
            <i class="menu-icon fa fa-list-alt"></i>
            <span class="menu-text"> Cycle UC Stats </span>
        </a>
        <b class="arrow"></b>
    </li>

    <li class="{% if route in ['wlogsetupbuild_index','wlogsetupbuild_show','wlogbuild_index','wlogbuild_show','wlogsetup_index','wlogsetup_show','dca','usecasename','actionresultdescription','actionparameter','testresult','actionresult','ssidname','actionname','platform','adapter','os','poa','core','event_index'] %}active{% endif %}">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-desktop"></i>
            <span class="menu-text">Elements </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>
        <ul class="submenu">
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-caret-right"></i>Layouts
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu">
                    <li class="{% if route starts with 'platform' %}active{% endif %}">
                        <a href="{{app.request.scheme ~'://' ~ app.request.httpHost ~ path('platform') }}">
                            <i class="menu-icon fa fa-caret-right"></i>Platforms
                        </a>
                        <b class="arrow"></b>
                    </li>
                    <li class="{% if route starts with 'adapter' %}active{% endif %}">
                        <a href="{{app.request.scheme ~'://' ~ app.request.httpHost ~ path('adapter') }}">
                            <i class="menu-icon fa fa-caret-right"></i>Adapters
                        </a>
                        <b class="arrow"></b>
                    </li>
                    <li class="{% if route starts with 'os' %}active{% endif %}">
                        <a href="{{app.request.scheme ~'://' ~ app.request.httpHost ~ path('os') }}">
                            <i class="menu-icon fa fa-caret-right"></i>OS
                        </a>
                        <b class="arrow"></b>
                    </li>
                    <li class="{% if route starts with 'poa' %}active{% endif %}">
                        <a href="{{app.request.scheme ~'://' ~ app.request.httpHost ~ path('poa') }}">
                            <i class="menu-icon fa fa-caret-right"></i>POA
                        </a>
                        <b class="arrow"></b>
                    </li>
                    <li class="{% if route starts with 'core_)' %}active{% endif %}">
                        <a href="{{app.request.scheme ~'://' ~ app.request.httpHost ~ path('core_index') }}">
                            <i class="menu-icon fa fa-caret-right"></i>Cores
                        </a>
                        <b class="arrow"></b>
                    </li>
                    <li class="{% if route starts with 'event_' %}active{% endif %}">
                        <a href="{{app.request.scheme ~'://' ~ app.request.httpHost ~ path('event_index') }}">
                            <i class="menu-icon fa fa-caret-right"></i>Events Types
                        </a>
                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>

            <li class="{% if route starts with 'deliberate_from_wlog' %}active{% endif %}">
                <a href="{{app.request.scheme ~'://' ~ app.request.httpHost ~ path('deliberatefromwlog_convert') }}">
                    <i class="menu-icon fa fa-caret-right"></i>Unrecoverable From WLOG
                </a>
                <b class="arrow"></b>
            </li>
            <li class="{% if route starts with 'dca' %}active{% endif %}">
                <a href="{{app.request.scheme ~'://' ~ app.request.httpHost ~ path('dca') }}">
                    <i class="menu-icon fa fa-caret-right"></i>DCA
                </a>
                <b class="arrow"></b>
            </li>

            <li class="{% if route starts with 'usecasename' %}active{% endif %}">
                <a href="{{app.request.scheme ~'://' ~ app.request.httpHost ~ path('usecasename') }}">
                    <i class="menu-icon fa fa-caret-right"></i>TC Names
                </a>
                <b class="arrow"></b>
            </li>

            <li class="{% if route starts with 'actionname' %}active{% endif %}">
                <a href="{{app.request.scheme ~'://' ~ app.request.httpHost ~ path('actionname') }}">
                    <i class="menu-icon fa fa-caret-right"></i>Action Names
                </a>
                <b class="arrow"></b>
            </li>

            <li class="{% if route starts with 'ssidname' %}active{% endif %}">
                <a href="{{app.request.scheme ~'://' ~ app.request.httpHost ~ path('ssidname') }}">
                    <i class="menu-icon fa fa-caret-right"></i>SSID Names
                </a>
                <b class="arrow"></b>
            </li>

            <li class="{% if route starts with 'actionresult' %}active{% endif %}">
                <a href="{{app.request.scheme ~'://' ~ app.request.httpHost ~ path('actionresult') }}">
                    <i class="menu-icon fa fa-caret-right"></i>Action Results
                </a>
                <b class="arrow"></b>
            </li>

            <li class="{% if route == 'testresult' %}active{% endif %}">
                <a href="{{app.request.scheme ~'://' ~ app.request.httpHost ~ path('testresult') }}">
                    <i class="menu-icon fa fa-caret-right"></i>Test Results
                </a>
                <b class="arrow"></b>
            </li>
            <li class="{% if route starts with 'wlogsetupbuild_' %}active{% endif %}">
                <a href="{{app.request.scheme ~'://' ~ app.request.httpHost ~ path('wlogsetupbuild_index') }}">
                    <i class="menu-icon fa fa-caret-right"></i>Wlog Setup Builds
                </a>
                <b class="arrow"></b>
            </li>
            <li class="{% if route starts with 'wlogsetup_' %}active{% endif %}">
                <a href="{{app.request.scheme ~'://' ~ app.request.httpHost ~ path('wlogsetup_index') }}">
                    <i class="menu-icon fa fa-caret-right"></i>Wlog Setups
                </a>
                <b class="arrow"></b>
            </li>
            <li class="{% if route starts with 'wlogsbuild_' %}active{% endif %}">
                <a href="{{app.request.scheme ~'://' ~ app.request.httpHost ~ path('wlogbuild_index') }}">
                    <i class="menu-icon fa fa-caret-right"></i>Wlog Builds
                </a>
                <b class="arrow"></b>
            </li>
            <li class="{% if route == 'actionparameter' %}active{% endif %}">
                <a href="{{app.request.scheme ~'://' ~ app.request.httpHost ~ path('actionparameter') }}">
                    <i class="menu-icon fa fa-caret-right"></i>Action Params
                </a>
                <b class="arrow"></b>
            </li>

            <li class="{% if app.request.attributes.get('_route') == 'actionresultdescription' %}active{% endif %}">
                <a href="{{app.request.scheme ~'://' ~ app.request.httpHost ~ path('actionresultdescription') }}">
                    <i class="menu-icon fa fa-caret-right"></i>Action Result desc
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-caret-right"></i>Three Level Menu
                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a href="{{app.request.scheme ~'://' ~ app.request.httpHost ~ path('_actionnative') }}">
                            <i class="menu-icon fa fa-leaf green"></i>Actions
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-pencil orange"></i>4th level
                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <b class="arrow"></b>
                        <ul class="submenu">
                            <li class="">
                                <a href="#">
                                    <i class="menu-icon fa fa-plus purple"></i>Add Product
                                </a>
                                <b class="arrow"></b>
                            </li>

                            <li class="">
                                <a href="#">
                                    <i class="menu-icon fa fa-eye pink"></i>View Products
                                </a>
                                <b class="arrow"></b>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>

</ul><!-- /.nav-list -->

<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
    <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>

<script type="text/javascript">
    try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
</script>