{% extends 'WerdGameBundle:Default:index.html.twig' %}

{% block content %}
    <h1>Mines list</h1>

    <table class="records_list table table-striped table-condensed">
        <thead>
            <tr>
                <th>Resourcepeerhour</th>
                <th>Resourcecurrent</th>
                <th>Resourcemax</th>
                <th>Resourcelastflush</th>
                <th>Type</th>
                <th>Id</th>
                <th>Name</th>
                <th>Level</th>
                <th>Nextlevelprice</th>
                <th>Life</th>
                <th>Defense</th>
                <th>Enabled</th>
                <th>Coordinatex</th>
                <th>Coordinatey</th>
                <th>Size</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mine in mines %}
            <tr>
                <td><a href="{{ path('mine_show', { 'id': mine.id }) }}">{{ mine.resourcePeerHour }}</a></td>
                <td>{{ mine.resourceCurrent }}</td>
                <td>{{ mine.resourceMax }}</td>
                <td>{{ mine.resourceLastFlush }}</td>
                <td>{{ mine.type }}</td>
                <td>{{ mine.id }}</td>
                <td>{{ mine.name }}</td>
                <td>{{ mine.level }}</td>
                <td>{{ mine.nextLevelPrice }}</td>
                <td>{{ mine.life }}</td>
                <td>{{ mine.defense }}</td>
                <td>{% if mine.enabled %}Yes{% else %}No{% endif %}</td>
                <td>{{ mine.coordinateX }}</td>
                <td>{{ mine.coordinateY }}</td>
                <td>{{ mine.size }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('mine_show', { 'id': mine.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('mine_edit', { 'id': mine.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('mine_new') }}">Create a new mine</a>
        </li>
    </ul>
{% endblock %}
