{% extends 'base.html.twig' %}

{% block body %}
    <h1>Target</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ target.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ target.name }}</td>
            </tr>
            <tr>
                <th>Managed</th>
                <td>{% if target.managed %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Manager</th>
                <td>{% if target.manager %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('target_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('target_edit', { 'id': target.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
